services:
  code_runner:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - 8060:8060
    # Env variables
    # Use privileged mode trying....

    # privileged: true
    # volumes:
    #   - /sys/fs/cgroup:/tmp/cgroup:rw

    deploy:
      resources:
        limits:
          memory: 256M
          cpus: 0.3
    cap_add:
      - NET_ADMIN
    command: ["sleep", "infinity"]
