version: "3"
services:
  warm-runner:
    build:
      context: .
      dockerfile: warm-runner.Docker
    restart: always
    image: warm-runner
    container_name: warm-runner
    deploy:
      resources:
        limits:
          memory: 100M
          cpus: "0.3"

  code-runner:
    build:
      context: .
      dockerfile: code-runner.Dockerfile
    restart: always
    # ! Just to name image to code_runner
    image: code-runner
    container_name: code-runner
    ports:
      - 8060:8060
    env_file: ./.env
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: "0.3"
