version: "3"
services:
  code_runner:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    # ! Just to name image to code_runner
    image: code_runner
    container_name: code_runner
    ports:
      - 8060:8060
    env_file: ./.env
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: "0.3"
    cap_add:
      - NET_ADMIN
    # ! For debugging only
    # command: ["sleep", "infinity"]
